body {
  display: grid;
  grid-template-columns: 1fr 2fr;

  font-family: Roboto Serif;
}

aside {
  --_aside-padding: 2rem;

  padding: var(--_aside-padding);

  h1 {
    --_h1-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125ch;

    font-size: var(--_h1-size);
    font-variation-settings: "wdth" 120, "opsz" 144, "wght" 800, "GRAD" -1;
    letter-spacing: -3px;
    margin-bottom: var(--_aside-padding);
    
    svg {
      /* fill: #fff; */
      height: calc(var(--_h1-size) * 1.25);
    }
  }

  form {
    display: grid;

    fieldset {
      display: inline-grid;

      label {
        order: 1;
      }

      input {
        order: 2;
      }

      input[required] + label span:first-of-type::after {
        content: "*";
      }
    }
  }
}

main {
  table {
    width: min(75ch, 70vw);

    thead {
      font-size: 1.5rem;
      text-align: center;
    }

    tbody {
      td:nth-of-type(5n + 3) {
        text-align: right;
      }

      td:nth-of-type(n + 4):nth-of-type(-n + 5) {
        text-align: center;
      }

      button:has(i.fa-solid) {
        background-color: transparent;
        border: none;

        .fa-circle-check {
          color: green;
        }

        .fa-circle-xmark {
          color:crimson;
        }
      }

      button:has(i.fa-solid):not(:has(i.fa-trash-can)) {
        border-radius: 50%;
      }
    }
  }
}
