:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: whitesmoke;
  --clr-neutral-500: #919191;
  --clr-neutral-800: #313131;
  --clr-neutral-900: #000;

  --clr-green-400: #478647;
  --clr-green-600: #337433;
  --clr-red-400: #d05050;
  --clr-red-500: crimson;
  --clr-red-600: #be3e3e;

  --clr-accent: maroon;
  --clr-aside: var(--clr-neutral-200);
  --clr-success: var(--clr-green-400);
  --clr-success-dark: var(--clr-green-600);
  --clr-error: var(--clr-red-500);
  --clr-error-dark: var(--clr-red-600);
}

.btn {
  padding: 0.5rem;
  border: 1px solid var(--clr-neutral-800);
  border-radius: 3px;
  transition: background-color 200ms ease;

  &:hover, &:focus-visible {
    background-color: #eaeaea;
  }
}

.delete-all {
  color: var(--clr-neutral-100);
  background-color: var(--clr-red-400);

  &:hover, &:focus-visible {
    background-color: var(--clr-red-600);
  }
}

body {
  --_body-padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 2fr;

  position: relative;

  font-family: Roboto Serif;
}

aside {
  background-color: var(--clr-aside);
  padding: 0 var(--_body-padding) var(--_body-padding);

  h1 {
    --_h1-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125ch;

    color: var(--clr-accent, black);
    font-size: var(--_h1-size);
    font-variation-settings: "wdth" 120, "opsz" 144, "wght" 800, "GRAD" -1;
    letter-spacing: -3px;
    margin-bottom: var(--_body-padding);

    svg {
      fill: var(--clr-accent, black);
      height: calc(var(--_h1-size) * 1.25);
    }
  }

  form {
    display: grid;

    fieldset {
      border: none;
    }

    fieldset:not(:has(input[type="checkbox"])) {
      display: inline-grid;

      label {
        order: 1;
      }

      input {
        order: 2;
        padding: 1ch;
      }

      .validation-block {
        order: 3;
        height: 1em;

        .validation-text {
          display: none;
          color: var(--clr-error);
          font-size: 0.75rem;
          margin: 0;
        }
      }

      input[required] + label span:first-of-type::after {
        content: "*";
      }
    }
  }

  input[type="button"] {
    justify-self: center;

    color: var(--clr-neutral-100);
    background-color: var(--clr-accent);
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1em;

    &:hover, &:focus-visible {
      background-color: hsl(from var(--clr-accent) h s l / 0.8);
    }
  }
}

main {
  padding: calc(var(--_body-padding) * 1.5) var(--_body-padding)
    var(--_body-padding);

  .main-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    flex-direction: column;

    width: min(50rem, 70vw);
  }

  #library-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    div {
      display: flex;
      gap: 0.5rem;
    }
  }

  table {
    width: 100%;

    thead {
      font-size: 1.5rem;
      text-align: center;
    }

    tbody {
      td:nth-of-type(5n + 3) {
        text-align: right;
      }

      td:nth-of-type(n + 4):nth-of-type(-n + 5) {
        text-align: center;
      }

      button:has(i.fa-solid) {
        background-color: transparent;
        border: none;

        .fa-circle-check {
          color: var(--clr-success);
          transition: color 200ms ease;
          
          &:hover, &:focus-visible {
            color: var(--clr-success-dark);
          }
        }
        
        .fa-circle-xmark {
          color: var(--clr-error);
          transition: color 200ms ease;
          
          &:hover, &:focus-visible {
            color: var(--clr-error-dark);
          }
        }
        
        .fa-trash-can {
          color: var(--clr-neutral-500);
          transition: color 200ms ease;

          &:hover, &:focus-visible {
            color: var(--clr-neutral-800);
          }
        }
      }

      button:has(i.fa-solid):not(:has(i.fa-trash-can)) {
        border-radius: 50%;
      }
    }
  }

  #modal {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-card {
      background: var(--clr-neutral-200);
      border: 1px solid var(--clr-neutral-900);
      border-radius: 5px;
      padding: 1rem;

      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          margin-block: 0;
        }

        button {
          background-color: transparent;
          border: none;
          font-size: 2rem;
        }
      }

      .modal-content {
        .modal-options {
          display: flex;
          justify-content: end;
          gap: 0.5rem;
        }
      }
    }
  }
}
