:root {
  --clr-green-400: #478647;
  --clr-green-600: #337433;
  --clr-red-400: #d05050;
  --clr-red-600: #be3e3e;

  --clr-success: var(--clr-green-400);
  --clr-error: var(--clr-red-400);
}

.btn {
  padding: 0.5rem;
  border: 1px solid #313131;
  border-radius: 3px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: #eaeaea;
  }
}

.delete-all {
  color: white;
  background-color: var(--clr-red-400);

  &:hover {
    background-color: var(--clr-red-600);
  }
}

body {
  --_body-padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 2fr;

  position: relative;

  font-family: Roboto Serif;
}

aside {
  padding: var(--_body-padding);

  h1 {
    --_h1-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.125ch;

    font-size: var(--_h1-size);
    font-variation-settings: "wdth" 120, "opsz" 144, "wght" 800, "GRAD" -1;
    letter-spacing: -3px;
    margin-bottom: var(--_body-padding);

    svg {
      height: calc(var(--_h1-size) * 1.25);
    }
  }

  form {
    display: grid;

    fieldset:not(:has(input[type="checkbox"])) {
      display: inline-grid;

      label {
        order: 1;
      }

      input {
        order: 2;
      }

      .validation-block {
        order: 3;
        height: 1em;

        .validation-text {
          display: none;
          color: var(--clr-error);
          font-size: 0.75rem;
        }
      }

      input[required] + label span:first-of-type::after {
        content: "*";
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  flex-direction: column;

  padding: calc(var(--_body-padding) * 1.5) var(--_body-padding)
    var(--_body-padding);

  #library-info {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  table {
    width: min(75ch, 70vw);

    thead {
      font-size: 1.5rem;
      text-align: center;
    }

    tbody {
      td:nth-of-type(5n + 3) {
        text-align: right;
      }

      td:nth-of-type(n + 4):nth-of-type(-n + 5) {
        text-align: center;
      }

      button:has(i.fa-solid) {
        background-color: transparent;
        border: none;

        .fa-circle-check {
          color: var(--clr-success);
        }

        .fa-circle-xmark {
          color: var(--clr-error);
        }
      }

      button:has(i.fa-solid):not(:has(i.fa-trash-can)) {
        border-radius: 50%;
      }
    }
  }

  #modal {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-card {
      background: whitesmoke;
      border: 1px solid black;
      border-radius: 5px;
      padding: 1rem;

      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          margin-block: 0;
        }

        button {
          background-color: transparent;
          border: none;
          font-size: 2rem;
        }
      }

      .modal-content {
        .modal-options {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
}
